.product {
  margin-top: 40px;

  @include breakpoint($breakpoint-mobile-large) {
    margin-top: 0;
    padding-top: 120px;
  }

  &__row {
    margin: 30px 0;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
    }
  }

  &__title {
    font-size: $font-size-3;
    font-weight: $weight-medium;
    line-height: $line-height-1;

    margin-bottom: 20px;

    @include breakpoint($breakpoint-mobile-large) {
      margin-top: 30px;
    }
  }
}

.product-gallery {
  $margin: 15px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__primary,
  &__secondary {
    &:hover {
      .product-gallery__image {
        transform: scale(1.05);
      }
    }
  }

  &__primary {
    margin-bottom: $margin;
  }

  &__secondary {
    width: 23%;
    width: calc((100% / 4) - #{$margin});
  }
}
