// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  width: 225px;
  height: 60px;

  padding: 0;

  outline: none;
  border: none;
  cursor: pointer;

  transition: color 0.15s ease, background-color 0.15s ease;

  &__loader {
    margin-right: 10px;
  }

  &-primary {
    color: $text-white;
    background-color: $button-primary;

    &:hover {
      background-color: $button-primary-hover;
    }
  }

  &-secondary {
    color: $text-white;
    background-color: transparent;

    border: 1px solid $button-secondary;

    &:hover {
      color: $text-green;
    }
  }

  &-gallery {
    color: $text-black;

    width: unset;
    padding: 0 25px;

    &__number {
      color: $text-gray;
      font-weight: $weight-medium;
    }
  }

  &-communication {
    color: $text-black;
    font-size: $font-size-8;
  }

  &-form {
    border: 1px solid $button-form;

    color: $text-gray;
    background-color: $palette-white;

    &:hover {
      border: 1px solid $button-secondary;
      color: $text-green;
    }
  }

  &:disabled {
    background-color: $button-disabled;
    color: $text-white;

    cursor: default;

    &:hover {
      background-color: $button-disabled;
    }
  }

  &-active {
    background-color: $button-primary;
    color: $text-white;

    &:hover {
      background-color: $button-primary-hover;
      color: $text-white;
    }

    .button-gallery__number {
      color: $text-white;
    }
  }
}
