// -----------------------------------------------------------------------------
// В этом файле стили для компонента "кнопка"
// -----------------------------------------------------------------------------

.button {
  width: 225px;
  height: 60px;

  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease;

  &-primary {
    color: $text-white;
    background-color: $button-primary;

    &:hover {
      background-color: $button-primary-hover;
    }
  }

  &-secondary {
    color: $text-white;
    background-color: transparent;

    border: 1px solid $button-secondary;

    &:hover {
      color: $text-green;
    }
  }

  &-form {
    border: 1px solid $button-form;

    color: $text-gray;
    background-color: $palette-white;

    &:hover {
      border: 1px solid $button-secondary;
      color: $text-green;
    }
  }

  &:disabled {
    background-color: $button-disabled;
    color: $text-white;

    cursor: default;
  }

  &-active {
    background-color: $button-primary;
    color: $text-white;

    &:hover {
      background-color: $button-primary-hover;
    }
  }
}

