.form {
  &-error {
    display: block;
    margin-top: 30px;

    color: $input-error;
    text-align: center;

  }

  &-callback {
    position: absolute;
    top: 80px;
    right: 60px;

    width: 500px;

    padding: 45px;
    background-color: $palette-white;
    box-shadow: 0 0 50px 0 rgba($color: #000000, $alpha: 0.135);

    font-family: "Montserrat", sans-serif;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;

    @include breakpoint($breakpoint-mobile-large) {
      right: 50%;

      width: 100%;
      padding: 25px;

      transform: translateX(50%);
    }

    &--visible {
      visibility: visible;
      opacity: 1;
    }

    &__title {
      font-size: $font-size-7;

      margin-bottom: 20px;
    }

    &__input {
      width: 100%;

      margin-bottom: 15px;
    }

    &__policy {
      margin-top: 20px;
    }
  }
}

.policy {
  display: flex;
  align-items: center;

  @include breakpoint($breakpoint-mobile-large) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__label {
    font-size: $font-size-9;

    &--important {
      color: $text-orange;

      transition: color 0.15s ease;

      @include breakpoint($breakpoint-mobile-large) {
        margin-left: 27px;
      }

      &:hover {
        color: lighten($text-orange, $amount: 10);
      }
    }
  }
}
