.input {
  height: 60px;

  border: 1px solid $input-border;
  outline: none;

  padding: 20px 30px;

  transition: border 0.3s ease;

  &:-webkit-autofill {
    border: 1px solid $input-border;
    box-shadow: 0 0 0 1000px rgb(255, 255, 255) inset;
  }

  &:focus {
    border: 1px solid $input-border-accept;
  }

  &-form {
    border: 1px solid transparent;
    color: $text-black;
    font-size: $font-size-8;
  }

  &-error {
    border: 1px solid $input-error;
  }
}
