// -----------------------------------------------------------------------------
// В этом файле находятся все базовые стили
// -----------------------------------------------------------------------------

/**
 * Настройка бокс-модели для страницы
 */
html {
  box-sizing: border-box;
}

/**
   * Наследуем всем элементам свойство border-box от родителя (html)
   * Так как селектор * имеет 0 приоритет, он не переопределяет стили html
   * Это нужно, чтобы в будушем была возможность без проблем переопредилить стили
   */
*,
*::before,
*::after {
  box-sizing: inherit;
}

section:not(:first-child) {
  padding-top: $section-padding;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}