// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: "Rubik", sans-serif;
}

span {
  font-size: $font-size-8;
  color: $text-gray;

  @include breakpoint($breakpoint-mobile-large) {
    font-size: $font-size-9;
  }
}

/*! purgecss ignore */
a {
  color: $text-green;

  &[href^="tel:"] {
    font-size: $font-size-5;
  }
}

strong {
  font-weight: $weight-medium;
}

.paragraph {
  line-height: $line-height-0;
  color: $text-black;
  font-size: $font-size-8;

  margin-top: 0;
  margin-bottom: 30px;
}
