// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: 'Rubik', sans-serif;
}

span {
  font-size: $font-size-8;
}

a[href^="tel:"] {
  font-size: $font-size-5;
}

a {
  color: $text-green;
}


