.order-list {
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 40px;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
    }
  }

  &__image {
    width: 48.5%;
    max-height: 240px;

    object-fit: cover;

    @include breakpoint($breakpoint-mobile-large) {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  &__content {
    width: 48.5%;

    @include breakpoint($breakpoint-mobile-large) {
      width: 100%;
    }
  }

  &__title {
    font-size: $font-size-5;
    font-weight: $weight-medium;

    margin-bottom: 30px;
  }

  &__description {
    color: $text-gray;
  }
}
