// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  background-color: $palette-black;

  padding-top: 35px;

  .footer-main-row {
    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
    }
  }

  .footer-row {
    flex-direction: row;
  }

  .row {
    padding-bottom: 35px;

    @include breakpoint($breakpoint-mobile-large) {
      align-items: center;
    }
  }

  .column {
    @include last-child {
      justify-content: flex-end;
    }
  }

  .extra-column {
    @include breakpoint($breakpoint-mobile-large) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
  }

  .logo {
    margin-right: 50px;
  }

  .payment {
    display: flex;
    align-items: center;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;

      font-size: $font-size-8;
    }

    &__text {
      @include breakpoint($breakpoint-mobile-large) {
        margin-bottom: 15px;
      }
    }

    &__icons {
      display: flex;
      align-items: center;
    }

    &__icon {
      margin-left: 30px;

      @include breakpoint($breakpoint-mobile-large) {
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }

  .copyright {
    @include breakpoint($breakpoint-mobile-large) {
      text-align: center;
      width: 100%;
    }

    &__text {
      color: $text-darkengray;
    }
  }

  .company {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .company-info {
    margin-left: 30px;

    @include breakpoint($breakpoint-mobile-large) {
      margin-left: 0;
      margin-bottom: 10px;
    }

    &__content {
      color: $text-white;

      @include breakpoint($breakpoint-mobile-large) {
        font-size: $font-size-8;
      }

      &::before {
        color: $text-gray;
        margin-right: 5px;
      }
    }

    &__inn {
      &::before {
        content: "ИНН";
      }
    }

    &__ogrn {
      &::before {
        content: "ОГРН";
      }
    }
  }

  .callback {
    flex-wrap: wrap;

    @include breakpoint($breakpoint-mobile-large) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .callback__phone {
    @include first-child {
      margin-right: 30px;
    }

    @include breakpoint($breakpoint-mobile-large) {
      @include first-child {
        margin-right: 0;
      }

      margin-bottom: 15px;
    }
  }

  .social {
    display: flex;
    align-items: center;
    margin-right: auto;

    @include breakpoint($breakpoint-mobile-large) {
      margin-right: 0;
    }

    &-icon {
      margin-right: 15px;

      path {
        transition: all 0.15s ease;
      }

      &:hover {
        path {
          stroke: $text-green;
        }
      }
    }
  }
}
