.gallery {
  margin-top: 50px;

  &-return {
    color: $text-link;

    &::before {
      content: url("../img/icons/arrow-back.png");
      vertical-align: middle;

      margin-right: 10px;
    }
  }

  &__filters {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 50px;
  }

  &__wrapper {
    position: relative;
  }

  &__image {
    $margin: 30px;
    position: relative;

    width: 23%;
    width: calc((100% / 4) - #{$margin});
    height: 205px;

    margin-bottom: $margin;

    &:hover {
      img {
        transform: scale(1.045) translateZ(0);
      }
    }
  }
}
