// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;

  width: 100vw;

  background-color: $palette-black;

  .container {
    display: flex;
    align-items: center;

    position: relative;

    height: 80px;
  }

  .logo {
    margin-right: 50px;
  }

  .callback {
    margin-left: auto;

    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }

  .nav {
    @include breakpoint($breakpoint-mobile-large) {
      display: none;
    }
  }
}
