#materials {
  .section-title__additional {
    color: $text-blue;

    &:hover {
      color: lighten($text-blue, $amount: 20);
    }
  }
}

.materials {
  &-row {
    margin-bottom: 30px;
  }
}

.material {
  position: relative;

  margin-bottom: 30px;
  overflow: hidden;

  &--action {
    cursor: pointer;

    &:hover {
      .material__image {
        transform: scale(1.025);
      }
    }
  }

  &__image {
    display: block;

    width: 100%;
    transition: all 0.3s ease;
  }

  &__title {
    position: absolute;
    top: 65px;
    left: 60px;

    font-size: $font-size-0;
    color: $text-white;
  }
}
