#materials {
  .section-title__additional {
    color: $text-blue;

    @include breakpoint($breakpoint-mobile-large) {
      margin-right: auto;
    }

    &:hover {
      color: lighten($text-blue, $amount: 20);
    }
  }
}

.materials {
  &-row {
    margin-bottom: 30px;
  }
}

.material {
  position: relative;

  margin-bottom: 30px;
  overflow: hidden;

  @include breakpoint($breakpoint-mobile-large) {
    height: 85px;
  }

  &--action {
    cursor: pointer;

    &:hover {
      .material__image {
        transform: scale(1.025);
      }
    }
  }

  &__image {
    display: block;

    width: 100%;
    height: 100%;

    object-fit: cover;
    transition: all 0.3s ease;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 5%;

    transform: translate(-5%, -50%);

    font-size: $font-size-0;
    color: $text-white;

    @include breakpoint($breakpoint-mobile-large) {
      font-size: $font-size-3;
    }
  }
}
