.nav {
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    margin: 0 15px;
    &:hover > a {
      color: $text-green;
    }
  }

  &__link {
    color: $text-white;

    transition: color 0.15s ease;
  }
}

#footer {
  .nav {
    width: 100%;

    &__navbar {
      justify-content: flex-end;
    }

    &__item {
      margin-left: 30px;
    }
  }
}
