.nav {
  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    margin: 0 15px;
    &:hover > a {
      color: $text-green;
    }
  }

  &__link {
    color: $text-white;

    transition: color 0.15s ease;
  }
}

#footer {
  .nav {
    width: 100%;

    margin: 20px 0;

    @include breakpoint($breakpoint-mobile-large) {
      margin: 0;
    }

    &__navbar {
      justify-content: flex-end;

      @include breakpoint($breakpoint-mobile-large) {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    &__item {
      margin: 0 0 0 30px;

      @include breakpoint($breakpoint-mobile-large) {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }
}
