.advantage-card {
  height: 210px;
  margin-bottom: 20px;

  &__image {
    width: 100%;
    object-fit: cover;

    @include breakpoint($breakpoint-mobile-large) {
      height: 75px;
    }
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 5px;

    font-size: $font-size-8;
    font-weight: $weight-medium;
  }
}